process {
  executor = 'azurebatch'
}

params {
  config_profile_description = 'Azure BATCH Cloud Profile'
  config_profile_contact = 'Venkat Malladi (@vsmalladi) & Adam Talbot (@adamrtalbot)'
  config_profile_url = 'https://azure.microsoft.com/services/batch/'

  // Storage
  storage_name      = null
  storage_key       = null

  // Batch
  az_location       = "westus2"
  batch_name        = null
  batch_key         = null

  vm_type           = "Standard_D8s_v3"
  autopoolmode      = falase
  allowpoolcreation = false
  deletejobs        = true
  deletepools       = false
  az_worker_pool    = "nextflowtest"

}

azure {
  storage {
    accountName = params.storage_name
    accountKey  = params.storage_key
  }
  batch {
    location = params.az_location
    accountName = params.batch_name
    accountKey = params.batch_key
     pools {
      nextflowtest {
          autoScale = true
          vmType = 'STANDARD_D4s_v3'
          vmCount = 2
          maxVmCount = 20
      }
  }
}
